@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.AlbumCard {
  padding: 1rem;
  width: calc(33.33% - 2rem);
  margin: 1rem 1rem;
  text-decoration: none;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 2px ​2px 7px -9px #333;

  @media (max-width: 767px) {
    width: calc(50% - 2rem);
  }
  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }
}
.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ImageDetailsView {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  img {
    max-width: 300px;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .details {
    padding: 1rem;
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
.backBtn {
  background-color: #333;
  color: #fff;
  width: 100px;
  display: block;
  padding: 10px;
  text-align: center;
  margin-top: 1rem;
}
button {
  border-radius: 3px;
  border: none;
  color: #fff;
  width: 200px;
  padding: 10px 1rem;
  background-color: skyblue;
}
input {
  padding: 5px;
  width: 200px;
}
a {
  color: rgb(43, 149, 214);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
}
